/** Styles for the theme: Base */
.TcHmi_Controls_Beckhoff_TcHmiRadioButton {
    --tchmi-radio-state-icon-color: var(--tchmi-highlight-color-1);
    --tchmi-background-color: var(--tchmi-background-color-4);
    --tchmi-active-background-color: var(--tchmi-background-color-4);
    --tchmi-color: var(--tchmi-foreground-color-4);
    --tchmi-border-color: var(--tchmi-background-color-2);
    color: var(--tchmi-color);
}

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiRadioButton-template {
    background-color: var(--tchmi-background-color);
    border-radius: 50%;
    border: 1px solid var(--tchmi-border-color);
}

/* class TcHmi_Controls_Beckhoff_TcHmiRadioButton-active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiRadioButton.TcHmi_Controls_Beckhoff_TcHmiRadioButton-active
    .TcHmi_Controls_Beckhoff_TcHmiRadioButton-template {
    background: radial-gradient(
        circle closest-side at center,
        var(--tchmi-radio-state-icon-color) 0,
        var(--tchmi-radio-state-icon-color) 45%,
        var(--tchmi-active-background-color) calc(45% + 1px),
        var(--tchmi-active-background-color) 100%
    );
}

.TcHmi_Controls_Beckhoff_TcHmiRadioButton.read-only .TcHmi_Controls_Beckhoff_TcHmiRadioButton-template {
    background: var(--tchmi-read-only-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRadioButton.read-only.TcHmi_Controls_Beckhoff_TcHmiRadioButton-active
    .TcHmi_Controls_Beckhoff_TcHmiRadioButton-template {
    background: radial-gradient(
        circle closest-side at center,
        var(--tchmi-radio-state-icon-color) 0,
        var(--tchmi-radio-state-icon-color) 45%,
        var(--tchmi-read-only-color) calc(45% + 1px),
        var(--tchmi-read-only-color) 100%
    );
}

.TcHmi_Controls_Beckhoff_TcHmiRadioButton.TcHmi_Controls_System_TcHmiControl-operate-disallowed {
    color: var(--tchmi-disallowed-BeckhoffControl-textcolor);
    cursor: not-allowed;
}

.TcHmi_Controls_Beckhoff_TcHmiRadioButton.TcHmi_Controls_System_TcHmiControl-disabled {
    color: var(--tchmi-disabled-BeckhoffControl-textcolor);
}

.TcHmi_Controls_Beckhoff_TcHmiRadioButton.TcHmi_Controls_System_TcHmiControl-operate-disallowed::after {
    background-color: var(--tchmi-disabled-color);
}
