/** TcHmiObjectBrowser styles for theme: Base */

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser .TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-editor-button {
    font-size: 16px;
    background: var(--tchmi-highlight-button-background);
    color: var(--tchmi-highlight-button-text-color);
    border: var(--tchmi-highlight-button-border);
    box-shadow: var(--tchmi-highlight-button-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser .TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-editor-button.down {
    font-size: 16px;
    background: var(--tchmi-highlight-button-background-pressed);
    color: var(--tchmi-highlight-button-text-color-pressed);
    border: var(--tchmi-highlight-button-border-pressed);
    box-shadow: var(--tchmi-highlight-button-shadow-pressed);
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser {
    --TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner-color: var(--tchmi-foreground-color-1);
}

/** 
    Loading Spinner
    Usage: <div class="TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner-container"><div class="TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner"><div></div><div></div><div></div><div></div></div></div>
*/

@keyframes TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner-color);
    border-radius: 50%;
    animation: TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner-color) transparent transparent
        transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.TcHmi_Controls_Beckhoff_TcHmiObjectBrowser-loading-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
