/** Styles for the theme: Base */
.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker,
.tchmi-timespan-picker,
.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-template-overlay,
.tchmi-timespan-picker-template-overlay {
    --tchmi-overlay-background: var(--tchmi-background-color-4);
    --tchmi-background: var(--tchmi-background-color-1);
    --tchmi-color: var(--tchmi-highlight-color-1);
}

.tchmi-system-topmostlayer-container .TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-template-overlay,
.tchmi-system-topmostlayer-container .tchmi-timespan-picker-template-overlay {
    box-shadow: var(--tchmi-popup-shadow);
    background: var(--tchmi-overlay-background);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-template-label,
.tchmi-timespan-picker-template-label {
    color: var(--tchmi-color);
    font-size: 12px;
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-template-overlay .TcHmi_Controls_Beckhoff_TcHmiTextbox-template-border,
.tchmi-timespan-picker-template-overlay .tchmi-textbox-template-border {
    box-shadow: initial;
}

/** Show in View styles **/
.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-direct-display
    .TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-template-overlay,
.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-direct-display .tchmi-timespan-picker-template-overlay {
    box-shadow: none;
    background: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-direct-display.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker,
.TcHmi_Controls_Beckhoff_TcHmiTimespanPicker-direct-display.tchmi-timespan-picker {
    background: var(--tchmi-background);
    box-shadow: var(--tchmi-card-shadow);
}
