.beckhoff-ec-diagnostics .notifications-wrapper {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.beckhoff-ec-diagnostics .notifications-wrapper-category {
    gap: 2px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px;
    position: relative;
}
.beckhoff-ec-diagnostics .notifications-wrapper-category::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform-origin: left;
}
.beckhoff-ec-diagnostics .notifications-wrapper-category.disappearing::before {
    animation: TcHmiEcDiagnosticsDisappearBorder 3s linear forwards;
}
.beckhoff-ec-diagnostics .flex-col {
    flex-direction: column;
}

.beckhoff-ec-diagnostics .notification-wrapper-v2 {
    margin: 10px 0px;
    white-space: break-spaces;
    display: grid;
    grid-template-columns: 29px 1fr 14px;
    padding-right: 5px;
}
.beckhoff-ec-diagnostics .notification-wrapper-v2 .icon-wrapper {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beckhoff-ec-diagnostics .notification-wrapper-v2 .msg {
    padding: 10px;
}
.beckhoff-ec-diagnostics .notification-wrapper-v2 .close-btn {
    width: 14px;
    margin-top: 10px;
    margin-right: 5px;
}
@keyframes TcHmiEcDiagnosticsDisappearBorder {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}
