/** Styles for the theme: Base */
.TcHmi_Controls_Beckhoff_TcHmiTachometer {
    --tchmi-background: var(--tchmi-background-color-1);
    --tchmi-tick-stroke: var(--tchmi-highlight-color-1);
    --tchmi-label-fill: var(--tchmi-highlight-color-1);
    --tchmi-label-legend: var(--tchmi-highlight-color-1);
    --tchmi-unit-color: var(--tchmi-highlight-color-1);
    --tchmi-needle-base-color: var(--tchmi-foreground-color-1);
    --tchmi-needle-pointer-color: var(--tchmi-foreground-color-1);
    overflow: visible;
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-circle-outside {
    fill: var(--tchmi-background);
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-main-tick,
.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-sub-tick {
    stroke: var(--tchmi-tick-stroke);
    stroke-width: 2;
    pointer-events: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-label {
    font-size: 12px;
    fill: var(--tchmi-label-fill);
    font-weight: bold;
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-display-value,
.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-display-unit {
    fill: var(--tchmi-unit-color);
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-needle-pointer {
    stroke: var(--tchmi-needle-pointer-color);
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-needle-base {
    fill: var(--tchmi-needle-base-color);
    stroke: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-invalid-notification {
    background-image: url('Images/invalid-notification.svg');
    background-size: 200% 200%;
    background-color: var(--tchmi-error-color);
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-svg {
    border-radius: 50%;
    box-shadow: var(--tchmi-card-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer.TcHmi_Controls_System_TcHmiControl-disabled
    .TcHmi_Controls_Beckhoff_TcHmiTachometer-template::after {
    background-color: var(--tchmi-disabled-color);
}

.TcHmi_Controls_Beckhoff_TcHmiTachometer-template-legend-item-label {
    color: var(--tchmi-label-legend);
}
