/** Styles for all themes */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart,
.tchmi-trend-line-chart {
    /* Prevent overflow if the border radius is huge */
    overflow: hidden;
}
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template,
.tchmi-trend-line-chart-template {
    position: absolute;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-chart,
.tchmi-trend-line-chart-template-chart {
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    position: absolute;
    top: 0px;
    /* Same as legend margin! margin px is used in js code, too */
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend {
    position: absolute;
    width: calc(100% - 10px);
    overflow: hidden;
    white-space: nowrap;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend-bottom {
    bottom: 0px;
    left: 0px;
    /* Same as chart margin! margin px is used in js code, too */
    margin: 5px;
    margin-top: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend-top {
    top: 0px;
    left: 0px;
    /* Same as chart margin! margin px is used in js code, too */
    margin: 5px;
    margin-bottom: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend-parent-element {
    position: relative;
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend-checkbox {
    position: relative;
    vertical-align: middle;
    float: left;
    margin: 3px;
    width: 13px;
    height: 13px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend-checkbox-color-element {
    position: relative;
    float: left;
    height: 2px;
    width: 10px;
    margin-right: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend-checkbox-label {
    position: relative;
    float: left;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar,
.tchmi-trend-line-chart-template-menu-bar {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 15px);
    /* Same as chart margin! margin px is used in js code, too */
    margin: 5px;
    margin-top: 0px;
    height: 50px;
    padding-left: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-top,
.tchmi-trend-line-chart-template-menu-bar-top {
    top: 0px;
    left: 0px;
    /* Same as chart margin! margin px is used in js code, too */
    margin: 5px;
    margin-bottom: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-bottom,
.tchmi-trend-line-chart-template-menu-bar-bottom {
    bottom: 0px;
    left: 0px;
    /* Same as chart margin! margin px is used in js code, too */
    margin: 5px;
    margin-top: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar > div .TcHmi_Controls_Beckhoff_TcHmiToggleButton,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown
    > div
    .TcHmi_Controls_Beckhoff_TcHmiToggleButton,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-toggle-button,
.tchmi-trend-line-chart-template-menu-bar-dropdown > .tchmi-toggle-button {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar > div .TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown > .TcHmi_Controls_Beckhoff_TcHmiButton,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-toggle-button,
.tchmi-trend-line-chart-template-menu-bar-dropdown > .tchmi-toggle-button {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar
    > div
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-options,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-trend-line-chart-template-options {
    top: 0px;
    height: 50px;
    width: 15px;
    min-width: 15px;
    min-height: 50px;
    position: absolute;
    float: right;
    box-sizing: border-box;
    margin: 0px;
    right: 0px;
}

.TcHmi_Controls_Beckhoff_TcHmiButton.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-options:before,
.tchmi-button.tchmi-trend-line-chart-template-options:before {
    content: '\25bc';
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-stop,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-stop,
.tchmi-trend-line-chart-template-menu-bar .tchmi-trend-line-chart-template-stop,
.tchmi-trend-line-chart-template-menu-bar-dropdown .tchmi-trend-line-chart-template-stop {
    margin-right: 20px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar > div .TcHmi_Controls_Beckhoff_TcHmiCombobox,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-combobox {
    height: 30px;
    min-width: 150px;
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 150px;
    top: 10px; /* diff between combobox and button height (combobox align center to buttons) */
    margin-right: 1px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar > div label,
.tchmi-trend-line-chart-template-menu-bar > div label {
    position: relative;
    float: left;
    height: 30px;
    top: 10px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-statistical-data {
    position: absolute;
    width: calc(100% - 10px);
    overflow: hidden;
    white-space: nowrap;
    bottom: 0px;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-statistical-data {
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip,
.tchmi-trend-line-chart-template-tooltip {
    position: absolute;
    visibility: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-text,
.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text {
    position: relative;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-arrow,
.tchmi-trend-line-chart-template-tooltip-arrow {
    content: '';
    position: absolute;
    width: 8px; /** used in internal calculation */
    height: 8px; /** used in internal calculation */
    transform: rotate(45deg);
    /*border-width: 6px; 
    border-style: solid;*/
    pointer-events: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-arrow-bottom,
.tchmi-trend-line-chart-template-tooltip-arrow-bottom {
    top: calc(100% - 4px);
    left: calc(50% - 4px);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-arrow-top,
.tchmi-trend-line-chart-template-tooltip-arrow-top {
    bottom: calc(100% - 4px);
    left: calc(50% - 4px);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-arrow-left,
.tchmi-trend-line-chart-template-tooltip-arrow-left {
    top: calc(50% - 4px);
    right: calc(100% - 4px);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-arrow-right,
.tchmi-trend-line-chart-template-tooltip-arrow-right {
    top: calc(50% - 4px);
    left: calc(100% - 4px);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-text
    table,
.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table {
    text-align: left;
    border-collapse: collapse;
    border: none; /** No border defined */
    width: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-time-table,
.tchmi-trend-line-chart-template-tooltip-time-table {
    margin-bottom: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-time-table tr td:first-child,
.tchmi-trend-line-chart-template-tooltip-time-table tr td:first-child {
    font-weight: bold;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-text
    table
    td,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-text
    table
    th,
.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table td,
.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table th {
    padding: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-text
    table
    td,
.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar > div .TcHmi_Controls_Beckhoff_TcHmiButton,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown > div .TcHmi_Controls_Beckhoff_TcHmiButton,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-button,
.tchmi-trend-line-chart-template-menu-bar-dropdown > div .tchmi-button {
    box-shadow: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown,
.tchmi-trend-line-chart-template-menu-bar-dropdown {
    padding: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-statistical-data,
.tchmi-trend-line-chart-template-menu-bar-dropdown .tchmi-trend-line-chart-template-statistical-data {
    margin-right: 0px;
}

/* timespanpicker and datetimepicker buttons*/
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar
    > div
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-timespan-button-start,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar
    > div
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-timespan-button-end,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-trend-line-chart-template-timespan-button-start,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-trend-line-chart-template-timespan-button-end {
    margin-right: 1px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar
    > div
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-datetime-button-end,
.tchmi-trend-line-chart-template-menu-bar > div .tchmi-trend-line-chart-template-datetime-button-end {
    margin-right: 20px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-loading,
.tchmi-trend-line-chart-template-loading {
    position: absolute;
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    pointer-events: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog {
    display: none;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog-footer {
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog-footer > * {
    margin-left: 5px;
    position: relative;
    float: right;
    margin-bottom: 10px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog-footer
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog-reset-settings-button {
    float: left;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog-footer .TcHmi_Controls_System_TcHmiControl {
    position: relative;
    margin-left: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-dialog tchmi-tab-link {
    max-width: 200px;
}
