/** Styles for the theme: Base-Dark */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart,
.tchmi-trend-line-chart,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown,
.tchmi-trend-line-chart-template-menu-bar-dropdown,
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog {
    --tchmi-background: var(--tchmi-background-color-1);
    --tchmi-background-part: var(--tchmi-background-color-3);
    --tchmi-color: var(--tchmi-foreground-color-1);
    --tchmi-legend-color: var(--tchmi-foreground-color-1);
    --tchmi-tooltip-background: var(--tchmi-background-color-3);
    --tchmi-tooltip-color: var(--tchmi-foreground-color-1);
    --tchmi-options-background: var(--tchmi-background-color-1);
    --tchmi-dropdown-background: var(--tchmi-background-color-1);
    --tchmi-dialog-color: var(--tchmi-foreground-color-1);
    --tchmi-dialog-background: var(--tchmi-background-color-3);
    --tchmi-dialog-shadow: var(--tchmi-shadow-color-2) 0px 0px 6px 1px;
}
.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart,
.tchmi-trend-line-chart {
    background: var(--tchmi-background);
    box-shadow: var(--tchmi-card-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-chart,
.tchmi-trend-line-chart-template-chart {
    background: var(--tchmi-background-part);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-legend {
    background: var(--tchmi-background-part);
    color: var(--tchmi-legend-color);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-statistical-data {
    background: var(--tchmi-background-part);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip
    .TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-text,
.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text {
    background: var(--tchmi-tooltip-background);
    color: var(--tchmi-tooltip-color);
    box-shadow: var(--tchmi-dropdown-shadow);
    border-radius: 6px;
    padding: 5px;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-tooltip-arrow,
.tchmi-trend-line-chart-template-tooltip-arrow {
    background: var(--tchmi-tooltip-background);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-stop > div,
.tchmi-trend-line-chart-template-stop > div {
    background-image: url('Images/pause_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-stop.down > div,
.tchmi-trend-line-chart-template-stop.down > div {
    background-image: url('Images/pause_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-panx > div,
.tchmi-trend-line-chart-template-panx > div {
    background-image: url('Images/panx_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-panx.down > div,
.tchmi-trend-line-chart-template-panx.down > div {
    background-image: url('Images/panx_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-panxy > div,
.tchmi-trend-line-chart-template-panxy > div {
    background-image: url('Images/panxy_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-panxy.down > div,
.tchmi-trend-line-chart-template-panxy.down > div {
    background-image: url('Images/panxy_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-zoomx > div,
.tchmi-trend-line-chart-template-zoomx > div {
    background-image: url('Images/zoomx_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-zoomx.down > div,
.tchmi-trend-line-chart-template-zoomx.down > div {
    background-image: url('Images/zoomx_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-zoomxy > div,
.tchmi-trend-line-chart-template-zoomxy > div {
    background-image: url('Images/zoomxy_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-zoomxy.down > div,
.tchmi-trend-line-chart-template-zoomxy.down > div {
    background-image: url('Images/zoomxy_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-reset-zoom > div,
.tchmi-trend-line-chart-template-reset-zoom > div {
    background-image: url('Images/zoomdel_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-reset-zoom.down > div,
.tchmi-trend-line-chart-template-reset-zoom.down > div {
    background-image: url('Images/zoomdel_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-reset > div,
.tchmi-trend-line-chart-template-reset > div {
    background-image: url('Images/play_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-reset.down > div,
.tchmi-trend-line-chart-template-reset.down > div {
    background-image: url('Images/play_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-settings > div,
.tchmi-trend-line-chart-template-settings > div {
    background-image: url('Images/settings_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-settings.down > div,
.tchmi-trend-line-chart-template-settings.down > div {
    background-image: url('Images/settings_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.TcHmi_Controls_Beckhoff_TcHmiButton.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-options,
.tchmi-button.tchmi-trend-line-chart-template-options {
    box-shadow: none;
    border: none;
    background: var(--tchmi-options-background);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar,
.tchmi-trend-line-chart-template-menu-bar {
    background: var(--tchmi-background-part);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar > div label,
.tchmi-trend-line-chart-template-menu-bar > div label {
    color: var(--tchmi-color);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-menu-bar-dropdown,
.tchmi-trend-line-chart-template-menu-bar-dropdown {
    box-shadow: var(--tchmi-popup-shadow);
    background: var(--tchmi-dropdown-background);
}

/* timespanpicker and datetimepicker buttons*/

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-timespan-button-start > div,
.tchmi-trend-line-chart-template-timespan-button-start > div {
    background-image: url('Images/timespanpicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-timespan-button-start.down > div,
.tchmi-trend-line-chart-template-timespan-button-start.down > div {
    background-image: url('Images/timespanpicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-datetime-button-start > div,
.tchmi-trend-line-chart-template-datetime-button-start > div {
    background-image: url('Images/datetimepicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-datetime-button-start.down > div,
.tchmi-trend-line-chart-template-datetime-button-start.down > div {
    background-image: url('Images/datetimepicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-timespan-button-end > div,
.tchmi-trend-line-chart-template-timespan-button-end > div {
    background-image: url('Images/timespanpicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-timespan-button-end.down > div,
.tchmi-trend-line-chart-template-timespan-button-end.down > div {
    background-image: url('Images/timespanpicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-datetime-button-end > div,
.tchmi-trend-line-chart-template-datetime-button-end > div {
    background-image: url('Images/datetimepicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-datetime-button-end.down > div,
.tchmi-trend-line-chart-template-datetime-button-end.down > div {
    background-image: url('Images/datetimepicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-statistical-data-button > div,
.tchmi-trend-line-chart-template-statistical-data-button > div {
    background-image: url('Images/table_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-template-statistical-data-button.down > div,
.tchmi-trend-line-chart-template-statistical-data-button.down > div {
    background-image: url('Images/table_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

/** 
    Loading Spinner
    Usage: <div class="TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner-container"><div class="TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner"><div></div><div></div><div></div><div></div></div></div>
*/

@keyframes TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    --TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner-color: var(--tchmi-foreground-color-2);
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner-color);
    border-radius: 50%;
    animation: TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner-color) transparent transparent
        transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-loading-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

.TcHmi_Controls_Beckhoff_TcHmiTrendLineChart-settings-dialog {
    font-size: 12px;
    color: var(--tchmi-color);
    background: var(--tchmi-dialog-background);
    box-shadow: var(--tchmi-dialog-shadow);
}
