/** Styles for the theme: Base */

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit,
.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-popup {
    --tchmi-control-background: var(--tchmi-background-color-1);
    --tchmi-pane-background: var(--tchmi-background-color-4);
    --tchmi-table-header-background: var(--tchmi-highlight-color-1);
    --tchmi-seperator-background: var(--tchmi-foreground-color-1);
    --tchmi-cell-background: var(--tchmi-background-color-4);
    --tchmi-selected-background: var(--tchmi-background-color-2);
    --tchmi-highlight-background: var(--tchmi-highlight-color-1);
    --tchmi-highlight-background-pressed: var(--tchmi-highlight-color-2);
    --tchmi-text-color: var(--tchmi-foreground-color-1);
    --tchmi-contrasting-text-color: var(--tchmi-foreground-color-2);
    --tchmi-disabled-text-color: var(--tchmi-foreground-color-3);
    --tchmi-cell-border-color: var(--tchmi-background-color-3);
    --tchmi-input-background-invalid: var(--tchmi-invalid-color);
    --tchmi-border-color: var(--tchmi-background-color-2);
    --tchmi-active-recipe-color: var(--tchmi-ready-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit {
    background: var(--tchmi-control-background);
    box-shadow: var(--tchmi-card-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-path-box.active .file {
    --tchmi-active-item-color: var(--tchmi-active-recipe-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-browsing-box {
    background: var(--tchmi-pane-background);
    border: 1px solid var(--tchmi-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-box {
    background: var(--tchmi-pane-background);
    box-shadow: inset 0px 0px 0px 1px var(--tchmi-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area th {
    background: var(--tchmi-table-header-background);
    color: var(--tchmi-contrasting-text-color);
    border-right: 1px solid var(--tchmi-cell-border-color);
    font-weight: normal;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area th:last-child {
    border-right: none;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area td {
    background: var(--tchmi-cell-background);
    color: var(--tchmi-text-color);
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--tchmi-cell-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area td:first-child {
    border-left: 1px solid var(--tchmi-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area td:last-child {
    border-right-color: var(--tchmi-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area tr:first-child td {
    border-top: 1px solid var(--tchmi-cell-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-editing-area td[colspan='6'] {
    background: var(--tchmi-seperator-background);
    color: var(--tchmi-contrasting-text-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-popup.TcHmi_Controls_Helpers_Popup-FileConflictPrompt
    .TcHmi_Controls_Helpers_Popup-scroll-container {
    background: var(--tchmi-pane-background);
    border: 1px solid var(--tchmi-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-create-folder .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/create-folder.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-create-folder.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/create-folder_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-create-recipe .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/create-recipe.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-create-recipe.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/create-recipe_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-rename .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/rename.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-rename.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/rename_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-copy .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/copy.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-copy.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/copy_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-cut .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/cut.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-cut.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/cut_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-paste .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/paste.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-paste.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/paste_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-delete .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/delete.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-delete.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/delete_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-activate-recipe .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/activate-recipe.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-activate-recipe.down
    .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/activate-recipe_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-teach-recipe .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/teach-recipe.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-teach-recipe.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/teach-recipe_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-save .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/save.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-save.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/save_active.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-exit .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/exit.svg');
    background-position: center;
    background-size: contain;
}

.TcHmi_Controls_Beckhoff_TcHmiRecipeEdit-button-icon-exit.down .TcHmi_Controls_Beckhoff_TcHmiButton-template {
    background-image: url('Images/exit_active.svg');
    background-position: center;
    background-size: contain;
}
