/** Styles for the theme: Base */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiTimespanInput {
    --tchmi-background: var(--tchmi-background-color-4);
    --tchmi-background-invalid: var(--tchmi-invalid-color);
    --tchmi-color: var(--tchmi-foreground-color-1);
    --tchmi-border-color: var(--tchmi-background-color-2);
    --tchmi-unit-color: var(--tchmi-foreground-color-5);
    background-color: var(--tchmi-background);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template {
    grid-template-columns: auto 26px;
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template.left {
    grid-template-columns: 26px auto;
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-input {
    -webkit-appearance: none; /* Important to have visible box-shadow on input elements in iOS/Safari.  */
    appearance: none;
    color: var(--tchmi-color);
    border: 1px solid var(--tchmi-border-color);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput .TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-button {
    font-size: var(--tchmi-button-font-size);
    background: url(Images/timespanpicker_normal.svg), var(--tchmi-highlight-button-background);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--tchmi-highlight-button-text-color);
    border: var(--tchmi-highlight-button-border);
    box-shadow: var(--tchmi-highlight-button-shadow);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput .TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-button:active {
    background: url(Images/timespanpicker_pressed.svg), var(--tchmi-highlight-button-background-pressed);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--tchmi-highlight-button-text-color-pressed);
    border: var(--tchmi-highlight-button-border-pressed);
    box-shadow: var(--tchmi-highlight-button-shadow-pressed);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-input:is(:focus, .tchmi-focus, .tchmi-keyboard-user-input) {
    background: rgba(76, 99, 116, 0.05);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-input:invalid {
    background: var(--tchmi-background-invalid);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-input-invalid-notification {
    color: var(--tchmi-error-color);
    font-weight: bold;
    font-size: 15px;
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput.read-only {
    background: var(--tchmi-read-only-color);
}

.TcHmi_Controls_Beckhoff_TcHmiTimespanInput-template-input-unit {
    color: var(--tchmi-unit-color);
}
