/* Theme independent styles for control TcHmiAccordionNavigation */

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template {
    height: 100%;
    overflow: auto;
    padding: 4px;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion
    > tchmi-accordion-item
    > tchmi-accordion-header
    > i {
    position: relative;
    left: -8px;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion-content
    > tchmi-accordion
    > tchmi-accordion-item {
    margin: 0;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion
    > tchmi-accordion-item
    > tchmi-accordion-content {
    padding-left: 3px;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion
    tchmi-accordion
    > tchmi-accordion-item
    > tchmi-accordion-content {
    padding-left: 4px;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Back-Button {
    margin-bottom: 8px;
    height: 56px;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Back-Button.disabled,
.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Back-Button.disabled + hr {
    display: none;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion
    tchmi-accordion
    > tchmi-accordion-item
    > tchmi-accordion-header::before {
    content: unset;
}
.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion
    tchmi-accordion
    > tchmi-accordion-item[active]
    > tchmi-accordion-header::before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    height: 100%;
    width: 4px;
    transform: unset;
    border: none;
    border-radius: unset;
}
.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Template
    tchmi-accordion
    > tchmi-accordion-item
    > tchmi-accordion-header
    > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-small-mode.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation
    tchmi-accordion-header {
    padding: 0;
    justify-content: center;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-small-mode.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation
    i {
    left: 0;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-small-mode.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation
    tchmi-accordion-expander {
    width: 16px;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-small-mode.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation
    tchmi-accordion-expander::after {
    right: 6px;
    top: 24px;
    width: 8px;
    height: 8px;
}
.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-small-mode.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation
    .TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Back-Button {
    padding: 0;
}

.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-small-mode.TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation
    .TcHmi_Controls_BaseTemplate_TcHmiAccordionNavigation-Back-Button::after {
    padding: 0;
    left: calc(50% - 6px);
}
