/** TcHmiRegion styles for theme: Base */
/** 
    Loading Spinner
    Usage: <div class="TcHmi_System_Controls_TcHmiRegion-loading-spinner-container"><div class="TcHmi_System_Controls_TcHmiRegion-loading-spinner"><div></div><div></div><div></div><div></div></div></div>
*/

.TcHmi_System_Controls_TcHmiRegion-loading-spinner {
    --TcHmi_System_Controls_TcHmiRegion-loading-spinner-color: var(--tchmi-foreground-color-1);
}

@keyframes TcHmi_System_Controls_TcHmiRegion-loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.TcHmi_System_Controls_TcHmiRegion-loading-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid var(--TcHmi_System_Controls_TcHmiRegion-loading-spinner-color);
    border-radius: 50%;
    animation: TcHmi_System_Controls_TcHmiRegion-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--TcHmi_System_Controls_TcHmiRegion-loading-spinner-color) transparent transparent transparent;
}

.TcHmi_System_Controls_TcHmiRegion-loading-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.TcHmi_System_Controls_TcHmiRegion-loading-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.TcHmi_System_Controls_TcHmiRegion-loading-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}
