.TcHmi_Controls_Helpers_Banner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    height: auto;
    top: 0;
    margin: 10%;
    max-width: 80%;
    padding: 16px;
}

.TcHmi_Controls_Helpers_Banner-content
    .TcHmi_Controls_System_TcHmiControl:not(.TcHmi_Controls_System_TcHmiControl .TcHmi_Controls_System_TcHmiControl) {
    position: relative;
}

.TcHmi_Controls_Helpers_Banner-header-container {
    position: relative;
    display: grid;
    grid-template-columns: auto min-content;
    margin-top: 0px;
    min-height: 26px;
    padding: 5px 10px;
}

.TcHmi_Controls_Helpers_Banner-header-container > h1 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 40px;
}

.TcHmi_Controls_Helpers_Banner-content {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 10px;
}

.TcHmi_Controls_Helpers_Banner-label-block {
    display: block;
    white-space: pre;
    margin-bottom: 2px;
}

.TcHmi_Controls_Helpers_Banner-label-block:not(:first-child) {
    margin-top: 10px;
}

.TcHmi_Controls_Helpers_Banner-footer {
    position: relative;
    display: grid;
    grid-template-columns: auto 60px;
}

.TcHmi_Controls_Helpers_Banner-footer:not(:empty) {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.TcHmi_Controls_Helpers_Banner-footer .TcHmi_Controls_System_TcHmiControl {
    position: relative;
}

.TcHmi_Controls_Helpers_Banner-footer .TcHmi_Controls_System_TcHmiControl:not(:first-child) {
    margin-left: 5px;
}
